* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2, h3, h4 {
  font-weight: bold;
  margin: 0;
  padding-top: 15px;
}

h2 {
  font-size: 33px;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  z-index: 5;
}

header img {
  display: inline-flex;
  height: 50px;
  padding-left: 10px;
}

nav {
  display: inline-flex;
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
}

nav li {
  padding: 0 20px;
}

nav a {
  color: white;
}

.container {
  padding-top: 69px;
}

/*Mission section*/
.mission {
  background: url("../images/img-mission-background.jpg") no-repeat center top;
  display: flex;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
}

.black_bar {
  background-color: black;
  margin: auto;
  align-items: center;
  width: 100%;
  height: 110px;
}

/*Variety Section*/
.variety {
  width: 1000px;
  margin: 60px auto 60px;
}

.flex_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.captionimage_box  {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.captionimage_box p {
  width: 300px;
  height: 30px;
  margin-top: 10px;
  font-size: 20px;
}

.pic {
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 15px 20px;

}

.pic img {
  width: 300px;
  height: 200px;
}

/*Locations Section*/
.locations {
  display: block;
  justify-content: center;
  background: url("../images/img-locations-background.jpg") no-repeat center top;
  margin: 0 auto;
  width: 1200px;
  height: 570px;
  background-size: cover;
}

#loc_title {
  padding: 70px 0 15px;
}

.col_container {
  display: block;
  height: auto;
}

.col {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 275px;
  height: auto;
  margin: 0 20px;
  background-color: black;
  opacity: 1;
  padding-bottom: 10px;
}

.col h3, p {
  margin: 20px 0;
  padding: 0;
}

/*Footer Section*/
footer {
  height: 200px;
}

footer h2 {
  padding: 10px 0 20px;
}

footer h5 {
  padding: 15px 0;
}

#copyright {
  text-align: left;
  font-size: 18px;
  margin: 0 0 0 20px;
}
